
        .loaded .paged-element-visible {
            transition: opacity .5s;
        }
        .loaded .paged-element.paged-element-hidden {
            display: inherit;
            opacity: 0;
            position: absolute;
            top:-10000px;
            transition: opacity .5s, top 0s .5s;
        }
    
        .body-initial {
            background-color: rgba(255,255,255,1); 
        }
        .silex-id-1478366444112-1 {
            top: 0px; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1478366444112-0 {
            min-height: 107px; 
            background-color: transparent; 
            width: 1200px; 
        }
        .silex-id-1487880630091-0 {
            min-height: 20px; 
            width: 53px; 
            top: 78px; 
            left: 404px; 
        }
        .silex-id-1487883821297-5 {
            min-height: 20px; 
            width: 42px; 
            top: 78px; 
            left: 533px; 
        }
        .silex-id-1487883846452-7 {
            min-height: 20px; 
            width: 53px; 
            top: 78px; 
            left: 665px; 
        }
        .silex-id-1487883860188-8 {
            min-height: 20px; 
            width: 97px; 
            top: 78px; 
            left: 726px; 
        }
        .silex-id-1487883774187-4 {
            min-height: 20px; 
            width: 53px; 
            top: 78px; 
            left: 469px; 
        }
        .silex-id-1487883832573-6 {
            min-height: 20px; 
            width: 53px; 
            top: 78px; 
            left: 590px; 
        }
        .silex-id-1474394621033-3 {
            top: 105px; 
            left: 0px; 
            min-width: 960px; 
            background-image: url('../assets/16422632_1879412072290627_6144266788156485853_o.jpg'); 
            background-attachment: fixed; 
            background-position: center center; 
            background-repeat: no-repeat; 
            background-size: cover; 
        }
        .silex-id-1474394621032-2 {
            min-height: 777px; 
            background-color: transparent; 
            width: 960px; 
            top: 0px; 
            left: 670px; 
            background-attachment: fixed; 
            background-position: center center; 
            background-size: cover; 
            background-repeat: no-repeat; 
        }
        .silex-id-1487886696607-1 {
            width: 404px; 
            top: 204px; 
            left: 256px; 
            min-height: 214px; 
            background-color: rgb(255, 255, 255); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1487886696607-1 {
            top: 254px; 
            left: 32px; 
            width: 377px; 
            min-height: 158px; 
        }
        }.silex-id-1487886919983-2 {
            min-height: 76px; 
            width: 309px; 
            top: 14px; 
            left: 47px; 
        }
        .silex-id-1487888163853-3 {
            min-height: 54px; 
            width: 266px; 
            top: 104px; 
            left: 67px; 
        }
        .silex-id-1487945502920-0 {
            width: 107px; 
            top: 176px; 
            left: 144px; 
            display: inline-block; 
        }
        .silex-id-1478366450713-3 {
            top: 188px; 
            left: 0px; 
            background-color: transparent; 
            min-width: 960px; 
        }
        .silex-id-1478366450713-2 {
            min-height: 150px; 
            background-color: transparent; 
            width: 960px; 
            top: 0px; 
            left: 670px; 
        }
        .silex-id-1442914737143-3 {
            min-height: 61px; 
            width: 310px; 
            top: 29px; 
            left: 315px; 
        }
    